:root {
	--main-color: rgb(48, 85, 55);
	--secondary-color: rgb(216, 216, 216);
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--secondary-color);
	color: #333;
	margin: 20px;
	padding: 20px;
}
h1,
h2 {
	color: var(--main-color);
}
.container {
	max-width: 800px;
	margin: auto;
	background: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#cards {
	display: flex;
	justify-content: space-evenly;
}

.card {
	padding: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}
